:root {
    padding: 0;
    margin: 0;
    --colors-primary: #62929e;
    --colors-outer-space: #475657;
}

@font-face {
    font-family: 'Raleway';
    src: url("/static/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

html {
    padding: 0;

}

body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    background-color: #FAFAFA;
    overflow-x: hidden;
    font-family: Raleway, 'Open Sans', serif;
}

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ebf1f8;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.navbar-inner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

.navbar-nav {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visible {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 1rem;
    background-color: #ebf1f8;
}

.nav-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    font-size: medium;
    padding: 0;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    color: var(--colors-outer-space);
    transition: all 300ms ease;
}

.nav-item a:hover {
    color: var(--colors-primary);
}

.auth-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

}

button {
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

.hamburguer-button {
    display: flex;
    width: 40px;
}

.hamburguer-button svg {
    width: 100%;
}

.img-container {
    max-width: 180px;
    height: auto;
}

.img-container img {
    width: 100%;
}

.base-footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 192, 192);
}

.base-footer-inner-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.footer-item {
    column-span: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ebf1f8;
}

.logged-user-button {
    transition: all 300ms ease;
}

.logged-user-button:hover {
    transform: scale(1.05);
}

.user-menu {
    width: 100%;
    display: none;
    background-color: #ebf1f8;
    padding: 0.5rem 2rem;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.shown {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 640px) {
    .navbar-inner-container {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 6em;
        padding-left: 6em;
    }
}

@media (min-width: 768px) {
    .navbar-inner-container {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 6em;
        padding-left: 6em;
    }
}

@media (min-width: 1024px) { 
    /* Notebook --> Desktop */
    .navbar-inner-container {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 8em;
        padding-left: 8em;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .nav-list {
        flex-direction: row;
    }

    .hamburguer-button {
        display: none;
    }

    .shown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
    }
}