{% load static %}

<style>
    .catalog-product-card {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        background: #fa782e;
        background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
        background: linear-gradient(135deg, #fa782e 8%, #c82930 83%);
        padding: 0 0;
        text-align: center;
    }

    .card-head {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px 25px 0 0;
    }

    .card-head img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 25px 25px 0 0;
    }

</style>


<div>
    <div class="catalog-product-card">
        <div class="card-head">
            <div>
                <img src="{{ image.url }}" />
            </div>
            <h3>{{ name }}</h2>
            <h3>{{ name }}</h2>
        </div>
    </div>
</div>