{% load static %}
{% load product_extras %}
{% load users_extras %}

<style>
    .catalog-product-card-container {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 25px;
        backdrop-filter: blur(7.6px);
        -webkit-backdrop-filter: blur(7.6px);
        background: rgba(4, 249, 225, 0.20);
        padding: 0 0;
        text-align: center;
        transition: all 100ms ease-in;
        color:rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .catalog-product-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .catalog-product-card-container:hover {
        transform: scale(1.005);
    }

    .catalog-product-card h3 {
        font-size: large;
        font-weight: 300;
        width: 100%; 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0rem 0.8rem;
    }

    .card-head {
        width: 100%;
    }

    .card-img-container {
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 25px 25px 0 0;
        overflow: hidden;
    }

    .card-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;  
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 4% 0%;
        color: rgb(22, 22, 22);
    }

    .product-admin-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.1rem 1rem;
        background: rgba(4, 249, 225, 0.40);
    }

    @media (min-width: 700px) { 
       .catalog-product-card-container {
            max-width: 100%;
            width: 100%;
       }
    }

    @media (min-width: 1024px) { 
       .catalog-product-card-container {
            max-width: 100%;
            width: 100%;
       }
    }

    @media (min-width: 1550px) { 
       .catalog-product-card-container {
            max-width: 400px;
            width: 400px; 
       }
    }

</style>

<div class="catalog-product-card-container">
  <a href="{{ detail_url }}" style="text-decoration: none; width: 100%;">
    <div class="catalog-product-card">
        <div class="card-head">
            <div class="card-img-container">
                <img src="{{ image.url }}" />
            </div>
            <div class="product-info">
                <h3>{{ name }}</h3>
                <p>${{ price }} </p>
            </div>
        </div>
    </div>
  </a>
    
  {% if user|belongs_to_group:"admi" %}      
    <div class="product-admin-options">
        <p>admin</p>
        <div style="display: flex; flex-direction: row; align-items: center; gap: 1rem;">
          {% show_visibility_toggle_button code "small" %}
          {% show_product_delete_button code "small" %}
          {% show_product_edit_button pk  %}
        </div>
    </div>
  {% endif %}
</div>