{% load static %}

<style>
  .images-widget-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .image-preview-container {
    max-width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .image-preview-container img {
    width: 100%;
    border-radius: 12px;
  }

  .images-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 12px;
  }

  .images-upload-form div {
    width: 100%;
  }

  .image-creation-input {
    -webkit-appearance: none;
    font-size: 12px;
    width: 100%;
  }

</style>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const imageInput = document.getElementById("id_image");
    const imagePreviewDisplay = document.getElementById("current-image-preview");

    imageInput.addEventListener("change", () => {
      const [imgFile] = imageInput.files;
      if (imgFile) {
        imagePreviewDisplay.src = URL.createObjectURL(imgFile);
      }
    });

    const imagesUploadForm = document.getElementById("images-form");
    imagesUploadForm.addEventListener("submit", async (e) => {
      e.preventDefault();

      const imageFormData = new FormData(e.currentTarget);
      const productCode = document.getElementById("product-code").dataset.productCode;
      imageFormData.append("product_code", productCode);

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      try {
        // Hacemos un fetch a la url provista por parámetro en el custom tag
        const response = await fetch(imagesUploadForm.dataset.submitUrl, {
          method: "POST",
          headers: {
            'X-CSRFToken': csrftoken
          },
          mode: 'same-origin',
          body: imageFormData
        });

        if (response.ok) {
          alert("Imagen subida");
          imagesUploadForm.reset();
        } else {
          alert("Algo malio sal");
        }
      }
      catch (err) {
        alert(err);
      }
    });

  });
</script>


<div class="images-widget-container">
  <div class="images-preview">
    <div class="image-preview-container">
      <img id="current-image-preview" src="{% static 'img/img-placeholder.png' %}" alt="nueva imagen" />
    </div>
    <p style="width: 100%; text-align: center;">Previsualización</p>
  </div>
  <form class="images-upload-form" data-submit-url="{{ submit_url }}" id="images-form">
    {% csrf_token %}
    {{ image_form }}
    <button type="submit" style="margin-top: 2rem;">
      agregar
    </button>
  </form>
</div>