{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Editar perfil{% endblock title %}
{% block content %}
    <h2>Modificar correo electrónico</h2>
    <form>
        {% csrf_token %}
        {{ form.as_p }}
        <div style="width: 100%; display:flex; flex-direction:column; align-items:center; padding: 1rem 1rem;">
            <button class="btn btn-success"
                    type="submit"
                    style="background-color: grey; padding: 1rem 1rem; color: white; border-radius: 16px;"
                    >
                    Cambiar el correo electrónico
            </button>
        </div>
    </form>
    <p><a href="{% url 'go_back' %}" class="button">Volver</a></p>
{% endblock content %}