{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Log In{% endblock title %}
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/generics/generics.css' %}">
    {% endblock custom_styles %}
</head>


{% block content %}
    <div>
        <div class="generic-col-container-pad">
            <h2 style="font-size: 32px;">Log In</h2>
            <form method="post" style="display: flex; flex-direction: column; align-items: start; justify-content: center; gap: 1rem;">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Log In</button>
            </form>
        </div>
    </div>
{% endblock content %}