{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Log In{% endblock title %}
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/generics/generics.css' %}">
    {% endblock custom_styles %}
</head>


{% block content %}
    <div>
        <div class="generic-col-container-pad">
            <h2 style="font-size: 32px;">Log In</h2>
            <form method="post" style="display: flex; flex-direction: column; align-items: start; justify-content: center; gap: 1rem;">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success" type="submit">Log In</button>
                <p><a href="{% url 'home' %}" class="btn btn-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
                      </svg>
                        Volver
                </a></p>
            </form>
        </div>
    </div>
{% endblock content %}