{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Restablecer contraseña</h1>
    <p>Le enviamos un email a su correo con las instrucciones que debe seguir para recuperar su contraseña</p>
    <p>Por favor, revise su bandeja de entrada y su casilla de Spam.</p>
    <p>
        En caso de no haber recibido el correo, por favor contáctese con
        <span><a href="mailto:ferreplusgestion@gmail.com" style="text-decoration: none;">Ferreplus</a></span>
        para solucionar el inconveniente
    </p>
    <a style="text-decoration: none;" href="/">Ir al inicio</a>
{% endblock content %}
