{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cambiar contraseña{% endblock title %}
{% block content %}
    <h2>Modificar la contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="width: 100%; display:flex; flex-direction:column; align-items:center; padding: 1rem 1rem;">
            <button class="btn btn-success"
                    type="submit"
                    style="background-color: grey; padding: 1rem 1rem; color: white; border-radius: 16px;"
                    >
                    Cambiar la contraseña
            </button>
        </div>
    </form>
{% endblock content %}