<!-- templates/account/user_detail.html -->
<!DOCTYPE html>
{% extends "_base.html" %} 
{% load static %}

{% block title %}Perfil de Usuario{% endblock title %}
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/generics/generics.css' %}">
        <link rel="stylesheet" href="{% static 'styles/products/products.css' %}">
    {% endblock custom_styles %}
</head>

{% block content %}
<div class="container">

    <div class="generic-container">
        <h1 style="color:white; font-size: 48px">{{ user_post.username }}</h1>
              <h1 style="color:white; font-size: 48px">Publicaciones</h1>
            <div class="products-wrapper">
                <div class="grid-display">
                    {% for post in post_list %}
                        <div class="product-card">
                            {% if post.image %} {#Teoricamente no es necesario porque desde la BD no se peude agregar#}
                                <img src="{{post.image.url}}" alt="post image"> 
                            {% endif %} 
                            <div class="card-header">
                                <h2>
                                    <a href="{% url 'my_post_detail' post.pk %}">{{ post.title }}</a>
                                </h2>                  
                            </div>
                            <div class="card-body">
                                {% if post.status == 'paused' %}
                                    <p class="paused-message"><strong>¡Atención, publicación pausada!</strong></p> <!-- Aquí agregamos <strong> para negrita -->
                                {% endif %}
                            </div>
                            <div class="card-footer text-center text-muted">
                                <a href="{% url 'post_edit' post.pk %}">Editar</a> | <a href="{% url 'post_delete' post.pk %}">Eliminar</a>
                            </div>
                        </div>
                    {% endfor %}
                <div>
            </div>       
        
    </div>
    
    <p> <a href="{% url 'post_list' %}">Todas las publicaciones</a>.</p>
    <p><a href="{% url 'go_back' %}" class="button">Volver</a></p>

</div>
{% endblock content %}