<!-- templates/account/user_detail.html -->
<!DOCTYPE html>
{% extends "_base_wildcard_bootstrap.html" %} 
{% load static %}

{% block title %}Perfil de Usuario{% endblock title %}
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/generics/generics.css' %}">
        <link rel="stylesheet" href="{% static 'styles/products/products.css' %}">
    {% endblock custom_styles %}
</head>

{% block content %}
<div class="container">

    <div class="generic-container">
        <h1 style="color:black; font-size: 48px">{{ user_post.username }}</h1>
            <h1 style="color:black; font-size: 48px">Publicaciones</h1>
            <div class="products-wrapper">
                <div class="grid-display">
                    {% for post in post_list %}
                        <div class="product-card">
                            {% if post.image %} {#Teoricamente no es necesario porque desde la BD no se peude agregar#}
                                <img src="{{post.image.url}}" alt="post image"> 
                            {% endif %} 
                            <div class="card-header">
                                <h2>
                                {% if is_client %}
                                    <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                                {% else %}
                                    {% if is_employeer %}
                                        <a href="{% url 'post_detail_employee' post.pk %}">{{ post.title }}</a>
                                    {% endif %}
                                {% endif %}
                                </h2>
                            </div>
                        </div>
                    {% endfor %}
                <div>
            </div>       
        
    </div>
    
    <p><a href="{% url 'post_list' %}" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
        </svg>
            Todas las publicaciones
    </a></p>
</div>
{% endblock content %}