<!-- templates/my_post_detail.html -->
{% extends "_base.html" %}
{% load static %} {#Si es que va#}

{% block content %}
<div class="post-entry">
    <h1>Detalle de la publicación</h1>
    {% if post.status == 'paused' %}
        <div style="background-color: #ffcccc; padding: 10px; margin-top: 10px;">
            <p style="font-weight: bold; color: #cc0000;">¡Atención!</p>
            <p>La publicación se encuentra en <strong>estado PAUSADO </strong>(no es visible a los demás usuarios) debido a que se eliminó la sucursal a la que correspondía.</p>
            <p>Para solucionar esto, edite la publicación y seleccione una sucursal disponible.</p>
        </div>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p><strong>Descripción:</strong> {{ post.body }}</p>
    <p><strong>Sucursal de preferencia:</strong> {% if post.branch %} {{ post.branch }} {% else %} {% endif %}</p>
    <p><strong>Categoría:</strong> {{ post.get_category_display }}</p>
    <p><strong>Nuevo:</strong> {{ post.new|yesno:"Sí,No" }}</p>
    <p><strong>Marca:</strong> {% if post.brand %} {{ post.brand }} {% else %} {% endif %}</p>
    <img src="{{ post.image.url}}" alt="Imagen de la publicación">
    
</div>


<a href="{% url 'post_edit' post.pk %}">+ Editar publicación</a>
<p><a href="{% url 'post_delete' post.pk %}">+ Eliminar publicación</a></p>
<p> <a href="{% url 'post_list' %}">Todas las publicaciones</a>.</p>
<p><a href="{% url 'go_back' %}" class="button">Volver</a></p>
{% endblock content %}

