<!-- templates/article_list.html -->
{% extends "_base.html" %}
{% load static %}

{% block title %}Mis publicaciones{% endblock title %}
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/generics/generics.css' %}">
        <link rel="stylesheet" href="{% static 'styles/products/products.css' %}">
    {% endblock custom_styles %}
    <style>
        .paused-message {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

{% block content %}
    <div>
        
        <div class="generic-container">
            <h1 style="color:white; font-size: 48px">Mis publicaciones</h1>
            <div class="products-wrapper">
                <div class="grid-display">
                    {% for post in post_list %}
                        <div class="product-card">
                            {% if post.image %} {#Teoricamente no es necesario porque desde la BD no se peude agregar#}
                                <img src="{{post.image.url}}" alt="post image"> 
                            {% endif %} 
                            <div class="card-header">
                                <h2>
                                    <a href="{% url 'my_post_detail' post.pk %}">{{ post.title }}</a>
                                </h2>                  
                            </div>
                            <div class="card-body">
                                {% if post.status == 'paused' %}
                                    <p class="paused-message"><strong>¡Atención, publicación pausada!</strong></p> <!-- Aquí agregamos <strong> para negrita -->
                                {% endif %}
                            </div>
                            <div class="card-footer text-center text-muted">
                                <a href="{% url 'post_edit' post.pk %}">Editar</a> | <a href="{% url 'post_delete' post.pk %}">Eliminar</a>
                            </div>
                        </div>
                    {% endfor %}
                <div>
            </div>
            <br />
        </div>
        <p><a href="{% url 'home' %}" class="btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
              </svg>
                Volver
        </a></p>
    </div>
{% endblock content %}
