<!-- templates/post_detail.html -->
{% extends "_base.html" %}
{% load static %} {#Si es que va#}

{% block content %}
<div class="container">

    <div class="generic-container">
        <h1 style="color:white; font-size: 48px">{{ post.title }}</h1>
        <div class="products-wrapper">
            <div class="grid-display">
                <div class="product-card-detail">
                    <div class="product-card-image">
                        <img src="{{ post.image.url }}" alt="Imagen de la publicación"> 
                    </div>
                    <div class="product-card-details">
                        <p><strong>Descripción:</strong></p>
                        <p>{{ post.body }}</p>
                        <p><strong>Usuario del autor:</strong> 
                            <a href="{% url 'user_detail' post.author.id %}">
                                <button style="border: solid; border-width: 1px;" class="menu-button">
                                {{post.author }}
                                </button>
                            </a>
                        </p>
                        <p><strong>Sucursal de preferencia:</strong> {% if post.branch %} {{ post.branch }} {% else %} {% endif %}</p>
                        <p><strong>Categoría:</strong> {{ post.get_category_display }}</p>
                        <p><strong>Nuevo:</strong> {{ post.new|yesno:"Sí,No" }}</p>
                        <p><strong>Marca:</strong> {% if post.brand %} {{ post.brand }} {% else %} {% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <p> <a href="{% url 'post_list' %}">Todas las publicaciones</a>.</p>
    <p><a href="{% url 'go_back' %}" class="button">Volver</a></p>

</div>
{% endblock content %}