<!-- templates/article_list.html -->
{% extends "_base.html" %}
{% load static %}

{% block title %}Publicaciones{% endblock title %}
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/generics/generics.css' %}">
        <link rel="stylesheet" href="{% static 'styles/products/products.css' %}">
    {% endblock custom_styles %}
</head>

{% block content %}
    <div>
        <div class="generic-container">
            <h1 style="color:white; font-size: 48px">Publicaciones</h1>
            <div class="products-wrapper">
                <div class="grid-display">
                    {% for post in post_list %}
                        <div class="product-card">
                            {% if post.image %}
                                <img src="{{post.image.url}}" alt="post image"> 
                            {% endif %} 
                            <div class="card-header">
                                <h2>
                                    <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                                </h2> 
                                <a href="{% url 'barter_request' post.pk %}" class="button">Solicitar Trueque</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>        
            <p><a href="{% url 'go_back' %}" class="button">Volver</a></p>
        </div>
    </div>
{% endblock content %}