{% extends "_base.html" %} 
{% load static %}

{% block title %}Ferreplus{% endblock title %} 
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/home/home.css' %}">
        <link rel="stylesheet" href="{% static 'styles/accounts/password_change_successful.css' %}">
    {% endblock custom_styles %}
</head>
{% block content %}
    <div>
        <div class="home-container">
            <div class="password-change-msg">
                <img src="{% static 'img/icons/barter_success1.png' %}" />
                <div style="display: flex; flex-direction: column; align-items: center">
                    <h2>Trueque solicitado exitosamente</h1>
                    <p> El trueque ha sido solicitado.</p>
                    <p>¡Prestá atención al estado de tus trueques para ver las novedades!</p>
                    <p><a href="{% url 'my_barters' %}" class="btn btn-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                        </svg>
                            Ver mis trueques
                    </a></p>
                </div>
            <div>
        </div>
    </div>
{% endblock content %}
