{% extends "_base.html" %} 
{% load static %}

{% block title %}Ferreplus{% endblock title %} 
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/home/home.css' %}">
        <link rel="stylesheet" href="{% static 'styles/accounts/password_change_successful.css' %}">
    {% endblock custom_styles %}
</head>
{% block content %}
    <div>
        <div class="home-container">
            <div class="password-change-msg">
                <img src="{% static 'img/icons/change_config_celeste.png' %}" />
                <div style="display: flex; flex-direction: column; align-items: center">
                    <h2>Modificación de contraseña exitosa</h1>
                    <p style="font-size: large">La operación fue exitosa</p>
                    <p> A partir de este momento podés ingresar a nuestra web utilizando tu nueva clave</p>
                    <p><a href="{% url 'home' %}" class="btn btn-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
                          </svg>
                            Ir al inicio
                    </a></p>
                </div>
            <div>
        </div>
    </div>
{% endblock content %}
