{% extends "_base_wildcard_bootstrap.html" %}
{% load static %}





{% block content %}
    <style>
      .product-creation-container {
          position: relative;
          min-width: 100vw;
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2% 2%;
          transition: all 1s ease-in;
      }

      .creation-form {
          font-size: 10px;
          color: rgb(0, 0, 0);
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

      .creation-form button {
          width: 100%;
          text-align: center;
          font-size: 18px;
          color: rgb(0, 187, 255);
          display: flex;
          flex-direction: column;
          gap: 1rem;
          background-color: goldenrod;
      }

      .creation-form div {
          padding: none;
      }

      .hide {
        opacity: 0;
        transform: translateX(100vh);
      }

      .product-creation-input {
          -webkit-appearance: none;
          font-size: 12px;
      }

      input[type=number]{
          -moz-appearance: textfield;
      }
    </style>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const productForm = document.getElementById("product-form");

        const getProductData = () => {
          return {
              code: document.getElementsByName("code")[0].value,
              name: document.getElementsByName("name")[0].value,
              brand: document.getElementsByName("brand")[0].value,
              model: document.getElementsByName("model")[0].value,
              description: document.getElementsByName("description")[0].value,
              price: document.getElementsByName("price")[0].value,
              category: document.getElementsByName("category")[0].value,
              stock: document.getElementsByName("stock")[0].value,
              main_image: document.getElementsByName("main_image")[0].value
          }
        }

        const getProductForm = () => {
          const formData = new FormData();
          const productData = getProductData();
          for(let [key, value] of Object.entries(productData)) {
              formData.append(key, value);
          }
          return formData;
        }

        const formTransition = () => {
          productForm.classList.add("hide");

        }

        productForm.addEventListener('submit', async (e) => {
          e.preventDefault();
          const productDataForm = getProductForm();
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
          console.log(csrftoken)
          try {
              const response = await fetch("/catalog/create/", {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken
                },
                mode: 'same-origin',
                body: productDataForm
              }).then( () => {
                  if(response.status == 200) {
                    formTransition();
                  }
                  else {
                    alert("Algo salió mal");
                  }
                }
              );
          } catch (err) {
              alert(err)
          }
        })
      })
    </script>

    <div class="product-creation-container">
        <h2 style="padding: 2% 2%;">Agregar nuevo producto</h2>
        <div style="background-color: blue; padding: 1% 2%; border-radius: 12px;">
          <form class="creation-form" id="product-form" method="POST" action="">
              {% csrf_token %}
              {{ product_form }}
              <button type="submit" onclick="">
                  Crear
              </button>
          </form>
        </div>
        <button onclick="formTransition()">
          tr
        </button>
        <div class="images-selector-wraper">
          {}
        </div>
    </div>
{% endblock content %}