{% extends "_base_wildcard_bootstrap.html" %}
{% load static %}
{% load product_extras %}

{% block content %}
<style>

  .background-banner {
    width: 100vw;
    height: 30vh;
    background-image: linear-gradient(to right top, #d4d4f6, #bacdf4, #9ac7f0, #76c2e7, #4dbcd8);
  }

  .product-detail-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
  }

  .product-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .carousel-external-container {
    max-width: 400px;
    width: 400px;
    max-height: 400px;
    height: 400px;
    box-shadow:
      12.6px 10.3px 10.8px rgba(0, 0, 0, 0.035),
      101px 82px 86px rgba(0, 0, 0, 0.07)
    ;
  }

  .description-widget {
    background-color: #adb5bd;
    border-radius: 12px;
    padding: 1rem 1rem;
  }

  .product-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2% 2%;
  }

  @media (min-width: 1000px) {
    .product-widget {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: 4rem;
        padding: 2% 0%;
    }
    .description-widget {
      max-width: 40vw;
    }
    .product-detail-container {
      padding: 4rem 4%;
    }
    .product-info-container {
      align-items: start;
      gap: 6rem;
      padding: none;
    }
  }

  @media (min-width: 1250px) {
    .product-detail-container {
      padding: 4rem 12%;
    }
    .description-widget {
      max-width: 30vw;
    }
  }  

  @media (min-width: 1600px) {
    .product-detail-container {
      padding: 4rem 20%;
    }
  }  

</style>
<div style="min-height: 100vh; min-width: 100vw;">
  <div class="background-banner">
    <div class="product-detail-container">
      <div class="product-widget">
        <div class="carousel-external-container">
          {% show_product_carousel product_images %}
        </div>
        <div class="product-info-container">
          <div style="padding-top: 4%;">
            <h1>{{ product.name }}</h1>
            <p>{{ product.brand }}</p>
          </div>
          <div>
            <p>Modelo: {{ product.model }}</p>
            <p>Categoría: {{ product.category.name }}</p>
            <p>${{ product.price }}</p>
            <div class="description-widget">
              <p>Descripción</p>
              {{ product.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>
{% endblock content %}
