{% extends '_base_admin.html' %}

{% block title %}Listado de sucursales{% endblock %}
<div class="container">
{% block content %}

    <h1>Sucursales</h1>

    <ul>
        {% for branch in branches %}
            <li>{{ branch.city }} - {{ branch.address }}  
                <a href="{% url 'edit_branch' branch.id %}">Editar</a> - 
                {% if branches|length > 1 %}
                    <a href="{% url 'delete_branch' branch.id %}">Eliminar</a>
                {% else %}
                    <button type="button" disabled>Eliminar</button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'register_new_branch' %}"><button>Agregar sucursales</button></a>
    <p><a href="{% url 'go_back' %}" class="button">Volver</a></p>

{% endblock %}
</div>
