.home-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px;
    color: white;
    padding: 2% 2%;
}

.home-container h1 {
    font-size: xx-large;
}

.client-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: rgba(36, 166, 206, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    text-align: center;
    padding: 1em 1em 2em 1em;
    color:rgb(0, 0, 0);
}

.post-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.post-product a {
    text-decoration: none;
}

.menu-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: start;
    background: rgba(4, 249, 225, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(4, 249, 225, 0.36);
    padding: 1rem 2rem;
    transition: all 300ms ease;
    white-space: nowrap;
}

.menu-button:hover {
    transform: scale(1.02);
}

/* .productos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: start;
    background: rgba(84, 136, 141, 0.78);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.1px);
    -webkit-backdrop-filter: blur(14.1px);
    border: 1px solid rgba(84, 136, 141, 0.28);
    padding: 2rem 1rem;
} */

@media (min-width: 1024px) { 
    .client-dashboard {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 12rem;
        text-align: left;
        padding: 3rem 4rem;
    }
    .post-product {
        align-items: start;
        gap: 1em;
    }
}