{% extends "_base_wildcard.html" %}
{% load static %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'styles/generics/generic_list.css' %}">
{% endblock custom_styles %}

{% block title %}Turnos Propuestos{% endblock title %}

{% block content %}
<div class="list-container">
    <h1>Turnos Propuestos</h1>
    {% for turn in turns %}
        <div class="list-group-item">
            <div class="item-header">
                <p>{{ turn }}</p>
            </div>
            {% if request.user != turn.proposer %}
            <form method="post" action="{% url 'select-turn' turn.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" name="selected_turn_id" value="{{ turn.id }}">Seleccionar Turno</button>
            </form>
            {% endif %}
            </div>
    {% endfor %}
    {% if request.user == proposer %}
        <p><a href="{% url 'propose_turns' barter_id %}" class="btn btn-primary">Agregar</a></p>
    {% endif %}
    <p><a href="{% url 'my_barters' %}" class="btn btn-light">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
          </svg>
            Volver
    </a></p>
</div>
{% endblock content %}
