<!-- templates/post_detail.html -->
{% extends "posts/detail/general_post_detail.html" %}

{% block additional_fields %}
    <p><strong>Autor:</strong> 
        <a href="{% url 'user_detail' post.author.id %}">
            <button style="border: solid; border-width: 1px;" class="menu-button">
            {{post.author }}
            </button>
        </a>
    </p>
{% endblock additional_fields %}

{% block ask_question %}
    <div class="mt-4">
        <h4>Realizar una pregunta</h4>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <p><button class="btn btn-warning mt-2" type="submit">Preguntar</button></p>
        </form>
        <p><a href="{% url 'barter_request' post.pk%}" class="btn btn-success">Solicitar Trueque</a></p>
        <p><a href="{% url 'post_list' %}" class="btn btn-primary">Todas las publicaciones</a></p>
        <p><a href="{% url 'post_list' %}" class="btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
                Volver
        </a></p>
    </div>
{% endblock ask_question %}