<!-- templates/post_detail.html -->
{% extends "posts/detail/general_post_detail.html" %}

{% block additional_fields %}
    <p><strong>Autor:</strong> 
        <a href="{% url 'user_detail' post.author.id %}">
            <button style="border: solid; border-width: 1px;" class="menu-button">
            {{post.author }}
            </button>
        </a>
    </p>

{% endblock additional_fields %}

{% block ask_question %}
    <div class="mt-4">
        <h4>Realizar una pregunta</h4>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success mt-2" type="submit">Preguntar</button>
        </form>
    </div>
{% endblock ask_question %}
{% block additional_content %}{% endblock additional_content %}