.success-page-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

.password-change-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.36);
    color: #FAFAFA;
    text-align: center;
    padding: 1rem 1rem;
}

.password-change-msg img {
    width: 200px;
}


@media (min-width: 1024px) { 
    /* Notebook --> Desktop */
    .password-change-msg {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        padding: 1rem 2rem;
    }

    .password-change-msg img {
        width: 300px;
    }

    .password-change-msg h2 {
        font-size: 28px;
    }
}