<!-- templates/_base.html-->
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Ferreplus{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles/layout/layout.css' %}">
    {% block custom_styles %} {% endblock custom_styles %}
  </head>
  <body>
    <header class="navbar-container">
      <div class="navbar-inner-container">
        <div class="img-container">
          <a href="/">
            <img src="{% static 'img/logo-min.png' %}" />
          </a>
        </div>
        <nav class="navbar-nav"> 
          <ul class="nav-list">
            <li class="nav-item">
              <a href="/">
                Nosotros
              </a>
            </li>
            <li class="nav-item">
              <a href="/">
                Contacto
              </a>
            </li>
            <li class="nav-item">
              <a href="/">
                Login
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
