<!-- templates/_base.html-->


<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Ferreplus{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'styles/layout/layout.css' %}">
    {% comment %}
      Dejo este bloque 'custom_styles' para hacerle override en cada página
      y poner un link a sus estilos propios.
    {% endcomment %}
    {% block custom_styles %} {% endblock custom_styles %}
    <script src="{% static 'styles/layout/layout.js' %}"></script>
  </head>
  <body>
    <header class="navbar-container">
      <div class="navbar-inner-container"> 
        <div class="img-container">
          <a href="/">
            <img src="{% static 'img/logo-min.png' %}" />
          </a>
        </div>
        <button class="hamburguer-button">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px">
            <path d="M 3 9 A 1.0001 1.0001 0 1 0 3 11 L 47 11 A 1.0001 1.0001 0 1 0 47 9 L 3 9 z M 3 24 A 1.0001 1.0001 0 1 0 3 26 L 47 26 A 1.0001 1.0001 0 1 0 47 24 L 3 24 z M 3 39 A 1.0001 1.0001 0 1 0 3 41 L 47 41 A 1.0001 1.0001 0 1 0 47 39 L 3 39 z"/>
          </svg>
        </button>
        <nav class="navbar-nav"> 
          <ul class="nav-list">
            <li class="nav-item">
              <a href="/">
                Nosotros
              </a>
            </li>
            <li class="nav-item">
              <a href="/">
                Contacto
              </a>
            </li>
            <li class="nav-item">
              <div class="auth-info">
                {% block authentication %}
                  {% if user.is_authenticated %}
                    <div style="position:relative; display:flex; flex-direction:row; gap: 1rem; align-items:center; width:100%;">
                      <p style="font-size:14px;">{{ user.username }}</p>
                      <button id="user-button" class="logged-user-button">
                        <img src="{% static '/img/icons/user-icon.png' %}" alt="mi-cuenta" style="width: 30px;" />
                      </button>
                      <div class="user-menu">
                        <p><a href="{% url 'my_post_list' %}">Mis publicaciones</a></p>
                        <p><a href="{% url 'account_email' %}">Editar perfil</a></p>
                        <p><a href="{% url 'account_change_password' %}">Cambiar contraseña</a></p>
                        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
                      </div>
                    </div>
                  {% else %}
                    <div style="position:relative;display:flex;flex-direction:column;gap:1rem;align-items:center; width:100%;">
                      <p style="font-size:9px; position:absolute;transform:translateY(-220%)">No has iniciado sesión</p>
                      <div style="display:flex;flex-direction:row;gap:1rem">
                        <a href="{% url 'account_login' %}">Iniciar sesión</a>
                        <a href="{% url 'account_signup' %}">Registrarse</a>
                      </div>
                    </div>
                  {% endif %}
                {% endblock authentication %}
               <div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% comment %}
        Bloque para hacer override en subtemplates y escribir el contenido
        de cada página
      {% endcomment %}
      {% endblock content %}
    </div>
    <div class="base-footer">
      <div class="base-footer-inner-container">
        <div class="footer-item">
          <h2>Ferreplus</h2>
        </div>
        <div class="footer-item">
          <p style="font-size:small">
            2024 Ferreplus © todos los derechos reservados
          </p>
        </div>
        <div class="footer-item">
          <p style="font-size:small;letter-spacing:0.2px">Hecho por <span style="font-weight:bold">Codecrafters</span></p>
        </div>
      </div>
    </div> 
  </body>
</html>