{% extends "_base_wildcard_bootstrap.html" %} 
{% load static %}
{% load home %}

{% block title %}Ferreplus{% endblock title %} 
<head>
    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'styles/home/home.css' %}">
    {% endblock custom_styles %}
</head>
{% block content %}
    <div class="d-flex flex-column" style="min-width: 100vw; min-height: 100vh; margin: none;">
        <div>
            {% show_home_banner %}
        </div>
        <div class="d-flex flex-column" style="min-width: 100vw;"">
            {% show_home_site_features %}
        </div>
        <div class="d-flex flex-column" style="min-width: 100vw;"">
            
        </div>
    </div>
{% endblock content %}
